/* back to top */

.back-to-top {
  position: fixed;
  bottom: 74px;
  right: 149px;
  z-index: 1000;
  cursor: pointer;
}

.back-to-top div {
  background-color: #000;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-to-top div:hover {
  background-color: #0000009f;
}

@media (max-width: 992px) {
  .back-to-top {
    bottom: 52px;
    right: 26px;
  }
}
